.datepicker-date-display {
    background-color:#1069a3;
  }
  .datepicker-weekday-display {
    background-color: #1069a3;
  }
  .datepicker-day--selected, .picker-day--selected:hover, .picker--focused .picker-day--selected {
    background-color:#1069a3;
  }

  .datepicker-day-button:focus {
    background-color: #1069a3;
  }
  .datepicker-cancel,
  .datepicker-clear,
  .datepicker-today,
  .datepicker-done {
    color: #1069a3;
    padding: 0 1rem;
  }

  .datepicker-table td.is-today {
    color: #1069a3;
  }
  
  .datepicker-table td.is-selected {
    background-color: #1069a3;
    color: #fff;
  }

  input:not([type]):focus:not([readonly]),
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=url]:not(.browser-default):focus:not([readonly]),
  input[type=time]:not(.browser-default):focus:not([readonly]),
  input[type=date]:not(.browser-default):focus:not([readonly]),
  input[type=datetime]:not(.browser-default):focus:not([readonly]),
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  input[type=tel]:not(.browser-default):focus:not([readonly]),
  input[type=number]:not(.browser-default):focus:not([readonly]),
  input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1069a3;
    -webkit-box-shadow: 0 1px 0 0 #1069a3;
            box-shadow: 0 1px 0 0 #1069a3;
  }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #1069a3;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #1069a3;
}
ul.dropdown-content.select-dropdown li span {
  color: #5da3d1; /* no need for !important :) */
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #1169a3;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #1169a3;
}

@media screen and (min-width: 1200px) {
  .maps{
      width:400px;
      height:300px;
  }
}
@media screen and (min-width: 800px) {
  .maps{
      width:400px;
      height:300px;
  }
}
@media screen and (max-width: 320px) {
      .maps{
          width:200px;
          height:200px;
      }
  }
